.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $calendar-gap;
  padding: $padding;
  box-sizing: border-box;

  width: calc((#{$day-size} * 7) + (#{$calendar-gap} * 6) + (#{$padding} * 2));

  margin: 0;

  &__day {
    width: $day-size;
    height: $day-size;
    box-sizing: border-box;

    background-color: $bg-color;
    border: 1px solid $border-color;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s, background-color 0.5s;

    &::before {
      font-family: $font-family;
      font-size: $font-size;
      color: $text-color;
    }

    @for $i from 1 through 31 {
      &:nth-child(#{$i})::before {
        content: '#{$i}';
      }
    }

    &:hover {
      cursor: pointer;
      background-color: $bg-hover-color;
      transform: translateY(-20px);
    }
  }

  @each $day, $i in $start-days {
    &--start-day-#{$day} {
      .calendar__day:first-child {
        margin-left: calc((#{$day-size} + #{$calendar-gap}) * #{$i});
      }
    }
  }

  @for $length from 28 through 31 {
    &--month-length-#{$length} {
      .calendar__day:nth-child(n + #{$length + 1}) {
        display: none;
      }
    }
  }
}
