$day-size: 100px;
$calendar-gap: 1px;
$padding: 10px;
$bg-color: #eee;
$bg-hover-color: #ffbfcb;
$border-color: #000;
$text-color: #000;
$font-family: Arial, sans-serif;
$font-size: 30px;
$start-days: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6,
);


